# Module 1

#--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------#

In [4]:
import numpy as np 
import pandas as pd

### Query 1.1

In [5]:
df= pd.read_csv('MINDTREEDATASET.csv')

In [6]:
df.describe()

,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
count,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,4.940000e+02,4.940000e+02,494.000000,4.940000e+02,494.00000
mean,778.486032,779.720547,792.118421,767.127328,779.634919,779.434413,780.076619,1.388615e+06,1.191635e+09,33021.139676,3.463618e+05,29.18668
std,214.140514,214.851383,218.056333,210.381329,214.484986,213.989087,214.038370,1.450169e+06,1.373025e+09,30613.616442,3.420743e+05,14.05687
min,442.500000,443.000000,448.750000,439.050000,441.400000,442.500000,442.240000,4.630000e+04,2.305583e+07,1502.000000,1.505300e+04,5.87000
25%,537.025000,537.975000,545.862500,528.012500,535.862500,537.400000,537.410000,5.724762e+05,3.399893e+08,14062.750000,1.523290e+05,18.69500
50%,835.075000,838.000000,851.525000,820.625000,835.025000,835.875000,835.615000,1.006586e+06,8.580623e+08,25609.500000,2.529855e+05,26.39500
75%,968.137500,968.500000,980.500000,949.450000,969.950000,969.775000,967.802500,1.631997e+06,1.431053e+09,42737.000000,4.366368e+05,37.06250
max,1161.950000,1165.000000,1183.800000,1147.800000,1166.000000,1161.950000,1167.480000,1.338521e+07,1.298866e+10,311806.000000,3.851210e+06,91.89000

In [55]:
df[df["Series"] != "EQ"]

Empty DataFrame
Columns: [Symbol, Series, Date, Prev Close, Open Price, High Price, Low Price, Last Price, Close Price, Average Price, Total_Traded_Quantity, Turnover, No. of Trades, Deliverable Qty, % Dly Qt to Traded Qty, year, month, Day_Perc_Change, Trend]
Index: []

### Query 1.2

In [51]:
#calculating max value of Close Price Column of last 90 days
start_date = df['Date'].max()-pd.Timedelta(90,unit='D')
max = df[df['Date']>=start_date].loc[:,'Close Price'].max()
max

989.4

In [52]:
#calculating min value of Close Price Column of last 90 days
start_date = df['Date'].max()-pd.Timedelta(90,unit='D')
min = df[df['Date']>=start_date].loc[:,'Close Price'].min()
min

868.6

In [53]:
#calculating mean value of Close Price Column of last 90 days
start_date = df['Date'].max()-pd.Timedelta(90,unit='D')
mean = df[df['Date']>=start_date].loc[:,'Close Price'].mean()
mean

943.4372881355932

### Query 1.3

In [11]:
#Changing the date column from 'object' type to 'datetime64(ns)' for future convenience.
df["Date"]=pd.to_datetime(df.Date)

In [12]:
#subtracting the minimum value of the date column from the maximum value.
x =df["Date"].max()-df["Date"].min()

In [13]:
x

Timedelta('728 days 00:00:00')

### Query 1.4

In [14]:
df['year'] = df['Date'].dt.year

In [15]:
df['month'] = df['Date'].dt.month

In [16]:
#ndf= df.groupby(['year','month'])

In [17]:
df['Turnover']=df['Average Price']*df['Total Traded Quantity']

In [18]:
df.rename(columns={'Total Traded Quantity':'Total_Traded_Quantity'},inplace=True)

In [19]:
#ndf['VWAP']=ndf['for Vwap']/ndf['Total Traded Quantity']

In [20]:
VWAP = df.groupby(['year','month']).Turnover.sum()/(df.groupby(['year','month']).Total_Traded_Quantity.sum())

In [21]:
VWAP

year  month
2017  5         520.886402
      6         534.296490
      7         514.363051
      8         468.307577
      9         457.678385
      10        489.617545
      11        516.199971
      12        571.896175
2018  1         701.657822
      2         757.863338
      3         807.020368
      4         936.325856
      5        1026.122522
      6         990.332045
      7        1001.421355
      8        1015.631840
      9        1128.462548
      10        873.037036
      11        840.869820
      12        862.428872
2019  1         871.397390
      2         898.777213
      3         941.545520
      4         967.975614
      5         979.467745
dtype: float64

In [22]:
pd.to_datetime(2)

Timestamp('1970-01-01 00:00:00.000000002')

In [23]:
df

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total_Traded_Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,year,month
0,MINDTREE,EQ,2017-05-15,510.60,507.35,515.00,505.90,510.50,509.45,510.39,271952,1.388016e+08,8261,100362,36.90,2017,5
1,MINDTREE,EQ,2017-05-16,509.45,507.00,515.85,506.00,511.00,511.30,512.69,207011,1.061325e+08,5550,82090,39.65,2017,5
2,MINDTREE,EQ,2017-05-17,511.30,507.05,519.70,502.75,504.00,506.35,512.10,391401,2.004365e+08,13341,150098,38.35,2017,5
3,MINDTREE,EQ,2017-05-18,506.35,502.00,516.75,486.00,487.50,492.90,505.60,852336,4.309411e+08,18513,170919,20.05,2017,5
4,MINDTREE,EQ,2017-05-19,492.90,491.95,502.95,489.50,495.15,497.50,496.43,352273,1.748789e+08,8326,57853,16.42,2017,5
5,MINDTREE,EQ,2017-05-22,497.50,499.95,511.85,497.10,501.55,502.35,504.78,399974,2.018989e+08,9779,107089,26.77,2017,5
6,MINDTREE,EQ,2017-05-23,502.35,504.00,507.45,491.00,498.00,501.15,498.72,452893,2.258668e+08,8567,198703,43.87,2017,5
7,MINDTREE,EQ,2017-05-24,501.15,502.00,515.00,494.05,511.95,509.95,506.72,823967,4.175206e+08,15083,351179,42.62,2017,5
8,MINDTREE,EQ,2017-05-25,509.95,513.70,549.50,508.45,542.50,543.90,532.14,1632427,8.686797e+08,25072,693340,42.47,2017,5
9,MINDTREE,EQ,2017-05-26,543.90,540.00,544.00,532.00,533.45,535.20,537.15,461613,2.479554e+08,12606,113087,24.50,2017,5
10,MINDTREE,EQ,2017-05-29,535.20,532.50,552.05,521.60,529.15,530.55,535.83,718355,3.849162e+08,19256,173854,24.20,2017,5
11,MINDTREE,EQ,2017-05-30,530.55,530.55,540.00,524.00,535.60,537.40,535.40,475566,2.546180e+08,11648,186388,39.19,2017,5
12,MINDTREE,EQ,2017-05-31,537.40,540.00,549.80,534.50,546.05,543.95,543.99,617800,3.360770e+08,18504,234480,37.95,2017,5
13,MINDTREE,EQ,2017-06-01,543.95,545.05,549.00,535.00,538.00,537.40,540.08,504801,2.726329e+08,18409,182246,36.10,2017,6
14,MINDTREE,EQ,2017-06-02,537.40,537.80,543.80,533.10,539.90,539.90,539.28,312022,1.682672e+08,6951,139538,44.72,2017,6
15,MINDTREE,EQ,2017-06-05,539.90,540.00,560.00,536.30,555.85,557.45,552.59,960839,5.309500e+08,34305,367704,38.27,2017,6
16,MINDTREE,EQ,2017-06-06,557.45,560.00,565.90,544.40,546.00,546.70,557.59,931646,5.194765e+08,28291,241092,25.88,2017,6
17,MINDTREE,EQ,2017-06-07,546.70,549.50,556.10,513.55,534.90,536.90,534.96,957153,5.120386e+08,18469,250862,26.21,2017,6
18,MINDTREE,EQ,2017-06-08,536.90,538.50,546.35,528.00,542.80,543.50,539.33,459527,2.478367e+08,9138,138735,30.19,2017,6
19,MINDTREE,EQ,2017-06-09,543.50,542.00,542.75,534.15,537.05,538.75,538.62,229279,1.234943e+08,7087,87478,38.15,2017,6
20,MINDTREE,EQ,2017-06-12,538.75,536.10,544.55,528.05,539.00,539.80,538.19,379066,2.040095e+08,9623,98241,25.92,2017,6
21,MINDTREE,EQ,2017-06-13,539.80,540.90,542.35,530.20,532.00,531.80,536.98,320855,1.722927e+08,12246,97230,30.30,2017,6
22,MINDTREE,EQ,2017-06-14,531.80,531.70,536.75,516.45,523.50,523.30,523.37,671432,3.514074e+08,9066,317335,47.26,2017,6
23,MINDTREE,EQ,2017-06-15,523.30,521.05,523.75,515.05,515.65,517.85,520.28,210643,1.095933e+08,5216,66819,31.72,2017,6
24,MINDTREE,EQ,2017-06-16,517.85,518.05,525.45,511.15,514.90,514.95,518.36,385256,1.997013e+08,6706,116377,30.21,2017,6
25,MINDTREE,EQ,2017-06-19,514.95,518.70,520.45,511.60,515.20,515.90,516.15,188878,9.748938e+07,4159,31231,16.54,2017,6
26,MINDTREE,EQ,2017-06-20,515.90,516.00,525.00,516.00,519.05,519.75,520.97,442425,2.304902e+08,11450,226523,51.20,2017,6
27,MINDTREE,EQ,2017-06-21,519.75,517.85,524.00,515.05,519.90,519.60,520.65,414457,2.157870e+08,14034,188443,45.47,2017,6
28,MINDTREE,EQ,2017-06-22,519.60,520.00,530.85,518.25,521.05,521.00,525.40,403163,2.118218e+08,7914,95596,23.71,2017,6
29,MINDTREE,EQ,2017-06-23,521.00,531.95,537.50,525.00,532.00,532.00,531.87,1238632,6.587912e+08,22835,220177,17.78,2017,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
464,MINDTREE,EQ,2019-03-27,950.50,938.90,949.70,931.00,944.40,943.15,942.08,2185188,2.058622e+09,69900,725704,33.21,2019,3
465,MINDTREE,EQ,2019-03-28,943.15,943.45,950.60,937.10,941.25,941.25,944.00,772947,7.296620e+08,24720,217661,28.16,2019,3
466,MINDTREE,EQ,2019-03-29,941.25,942.30,952.00,941.60,944.55,944.50,946.51,1120083,1.060170e+09,48107,526245,46.98,2019,3
467,MINDTREE,EQ,2019-04-01,944.50,950.95,954.00,943.65,946.00,944.95,949.38,748695,7.107961e+08,22076,403628,53.91,2019,4
468,MINDTREE,EQ,2019-04-02,944.95,948.90,952.50,945.10,946.70,946.65,949.11,642877,6.101610e+08,22869,346990,53.97,2019,4
469,MINDTREE,EQ,2019-04-03,946.65,949.00,949.50,939.00,942.15,943.80,943.24,727804,6.864938e+08,20109,409584,56.28,2019,4
470,MINDTREE,EQ,2019-04-04,943.80,943.00,947.00,940.65,944.90,943.50,943.63,626426,5.911144e+08,17422,324254,51.76,2019,4
471,MINDTREE,EQ,2019-04-05,943.50,944.40,962.75,944.00,953.00,952.95,954.73,1274179,1.216497e+09,38399,526743,41.34,2019,4
472,MINDTREE,EQ,2019-04-08,952.95,956.00,964.50,949.15,956.70,957.30,959.08,1233339,1.182871e+09,37004,626236,50.78,2019,4
473,MINDTREE,EQ,2019-04-09,957.30,958.95,969.50,955.35,961.70,962.20,963.27,1182333,1.138906e+09,32062,333345,28.19,2019,4
474,MINDTREE,EQ,2019-04-10,962.20,963.00,975.00,956.00,972.80,970.25,970.43,2078842,2.017371e+09,37245,1144744,55.07,2019,4
475,MINDTREE,EQ,2019-04-11,970.25,973.00,979.00,970.30,978.00,976.65,975.39,1115408,1.087958e+09,37292,669418,60.02,2019,4
476,MINDTREE,EQ,2019-04-12,976.65,976.00,979.00,971.30,978.80,975.65,975.35,456663,4.454063e+08,14810,194580,42.61,2019,4
477,MINDTREE,EQ,2019-04-15,975.65,977.00,985.70,972.25,979.60,979.65,979.79,792811,7.767883e+08,19578,394858,49.80,2019,4
478,MINDTREE,EQ,2019-04-16,979.65,982.00,987.85,969.10,972.50,972.45,981.16,672044,6.593827e+08,22297,292359,43.50,2019,4
479,MINDTREE,EQ,2019-04-18,972.45,979.00,986.95,961.00,966.00,968.50,975.73,2285726,2.230251e+09,54911,598103,26.17,2019,4
480,MINDTREE,EQ,2019-04-22,968.50,967.00,979.00,966.00,975.10,976.20,974.80,937745,9.141138e+08,26393,501640,53.49,2019,4
481,MINDTREE,EQ,2019-04-23,976.20,974.90,982.00,966.65,975.60,975.40,976.60,477570,4.663949e+08,11920,132863,27.82,2019,4
482,MINDTREE,EQ,2019-04-24,975.40,976.00,980.50,975.50,980.00,979.40,978.36,326956,3.198807e+08,10646,151927,46.47,2019,4
483,MINDTREE,EQ,2019-04-25,979.40,978.00,995.00,973.25,981.40,989.40,986.03,617828,6.091969e+08,9731,306085,49.54,2019,4
484,MINDTREE,EQ,2019-04-26,989.40,984.40,985.95,974.00,977.00,975.85,979.84,370028,3.625682e+08,9127,99533,26.90,2019,4
485,MINDTREE,EQ,2019-04-30,975.85,977.70,990.00,977.70,980.00,981.25,983.33,688189,6.767169e+08,21888,188694,27.42,2019,4
486,MINDTREE,EQ,2019-05-02,981.25,985.00,986.60,977.15,982.00,981.40,981.48,323640,3.176462e+08,11346,124020,38.32,2019,5
487,MINDTREE,EQ,2019-05-03,981.40,983.00,983.85,966.00,974.75,970.20,970.53,476833,4.627807e+08,14149,162234,34.02,2019,5
488,MINDTREE,EQ,2019-05-06,970.20,969.00,983.50,962.40,982.00,981.75,979.23,1604808,1.571476e+09,10494,1305298,81.34,2019,5
489,MINDTREE,EQ,2019-05-07,981.75,982.80,985.00,975.00,981.00,979.95,979.77,1242934,1.217789e+09,10864,884988,71.20,2019,5
490,MINDTREE,EQ,2019-05-08,979.95,981.00,985.00,971.05,982.00,980.50,979.84,4301316,4.214601e+09,13038,3851210,89.54,2019,5
491,MINDTREE,EQ,2019-05-09,980.50,979.60,983.15,976.10,980.90,980.45,980.02,3787159,3.711492e+09,8159,3479880,91.89,2019,5
492,MINDTREE,EQ,2019-05-10,980.45,980.40,982.90,973.00,974.00,975.35,977.55,215170,2.103394e+08,5128,26734,12.42,2019,5
493,MINDTREE,EQ,2019-05-13,975.35,973.40,983.00,970.30,981.00,979.10,980.16,485941,4.762999e+08,14005,222691,45.83,2019,5

In [24]:
#def cal_avg(n):
#return  df['Average Price'].iloc[-n:].mean()

### Query 1.5

In [25]:
#function to calculate the average price over the last N days of the stock price data
def cal_average(n):
    start_date = df['Date'].max()-pd.Timedelta(n-1,unit='D')
    return df[df['Date']>=start_date].loc[:,'Average Price'].mean()

In [26]:
#for last 1 week
cal_average(7)

979.4680000000001

In [27]:
#for last 2 weeks
cal_average(14)

979.1011111111113

In [28]:
#for Last 1 month
cal_average(30)

979.0717647058824

In [29]:
#for Last 3 months
cal_average(90)

944.7329310344829

In [30]:
#for Last 6 months
cal_average(180)

903.1566666666671

In [31]:
#for Last 1 year
cal_average(365)

950.0580081300812

In [32]:
#function to calculate the profit/loss percentage over the last N days.
def cal_per(n):
    start_date = df['Date'].max() - pd.Timedelta(n, unit='D')
    df1 = df[df['Date'] >= start_date].loc[:,'Close Price']
    df2 = df[df['Date'] >= start_date].loc[:,'Prev Close']
    df1 = df1-df2
    profit = ((df1/df2)*100).mean()
    print(profit)

In [33]:
#For last N days
cal_per(5)

-0.021166517364370016

In [34]:
#For 1 week
cal_per(7)

0.15374400921995057

In [35]:
#For 2 week
cal_per(14)

0.03887639943041587

In [36]:
#For 1 month
cal_per(30)

0.02314245938140715

In [37]:
# For 3 months
cal_per(90)

0.11471044841315106

In [38]:
#for 6 months
cal_per(180)

0.1346741134137893

In [39]:
#for 1 year
cal_per(365)

0.011051942344181312


### Query 1.6

In [40]:

df['Day_Perc_Change'] = df['Close Price'].pct_change()*100

In [41]:
df['Day_Perc_Change'].fillna(0, inplace = True)

In [42]:
df.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total_Traded_Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,year,month,Day_Perc_Change
0,MINDTREE,EQ,2017-05-15,510.60,507.35,515.00,505.90,510.50,509.45,510.39,271952,1.388016e+08,8261,100362,36.90,2017,5,0.000000
1,MINDTREE,EQ,2017-05-16,509.45,507.00,515.85,506.00,511.00,511.30,512.69,207011,1.061325e+08,5550,82090,39.65,2017,5,0.363137
2,MINDTREE,EQ,2017-05-17,511.30,507.05,519.70,502.75,504.00,506.35,512.10,391401,2.004365e+08,13341,150098,38.35,2017,5,-0.968120
3,MINDTREE,EQ,2017-05-18,506.35,502.00,516.75,486.00,487.50,492.90,505.60,852336,4.309411e+08,18513,170919,20.05,2017,5,-2.656265
4,MINDTREE,EQ,2017-05-19,492.90,491.95,502.95,489.50,495.15,497.50,496.43,352273,1.748789e+08,8326,57853,16.42,2017,5,0.933252

### Query 1.7

In [43]:
for ind, row in df.iterrows():
    if -0.5<df.loc[ind, 'Day_Perc_Change']<0.5:
        df.loc[ind, "Trend"] = 'Slight or No change'
    elif 0.5<df.loc[ind,'Day_Perc_Change']<1.0:
        df.loc[ind, "Trend"] = 'Slight Positive'
    elif -1.0<df.loc[ind,'Day_Perc_Change']<-0.5:
        df.loc[ind, "Trend"] = 'Slight negative'
    elif 1<df.loc[ind,'Day_Perc_Change']<3:
        df.loc[ind, "Trend"] = 'Positive'
    elif -3<df.loc[ind,'Day_Perc_Change']<-1:
        df.loc[ind, "Trend"] = 'Negative'
    elif 3<df.loc[ind,'Day_Perc_Change']<7:
        df.loc[ind, "Trend"] = 'Among top gainers'
    elif -7<df.loc[ind,'Day_Perc_Change']<-3:
        df.loc[ind, "Trend"] = 'Among top losers'
    elif df.loc[ind,'Day_Perc_Change']>7:
        df.loc[ind, "Trend"] = 'Bull run'
    elif df.loc[ind,'Day_Perc_Change']<-7:
        df.loc[ind, "Trend"] = 'Bear drop'

In [44]:
df.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total_Traded_Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,year,month,Day_Perc_Change,Trend
0,MINDTREE,EQ,2017-05-15,510.60,507.35,515.00,505.90,510.50,509.45,510.39,271952,1.388016e+08,8261,100362,36.90,2017,5,0.000000,Slight or No change
1,MINDTREE,EQ,2017-05-16,509.45,507.00,515.85,506.00,511.00,511.30,512.69,207011,1.061325e+08,5550,82090,39.65,2017,5,0.363137,Slight or No change
2,MINDTREE,EQ,2017-05-17,511.30,507.05,519.70,502.75,504.00,506.35,512.10,391401,2.004365e+08,13341,150098,38.35,2017,5,-0.968120,Slight negative
3,MINDTREE,EQ,2017-05-18,506.35,502.00,516.75,486.00,487.50,492.90,505.60,852336,4.309411e+08,18513,170919,20.05,2017,5,-2.656265,Negative
4,MINDTREE,EQ,2017-05-19,492.90,491.95,502.95,489.50,495.15,497.50,496.43,352273,1.748789e+08,8326,57853,16.42,2017,5,0.933252,Slight Positive

### Query 1.8

In [45]:
df.groupby(['Trend']).Total_Traded_Quantity.mean()

Trend
Among top gainers      2.577386e+06
Among top losers       1.674413e+06
Bear drop              1.113917e+07
Bull run               5.893131e+06
Negative               1.337232e+06
Positive               1.490484e+06
Slight Positive        1.308610e+06
Slight negative        1.024758e+06
Slight or No change    8.868149e+05
Name: Total_Traded_Quantity, dtype: float64

In [46]:
df.groupby(['Trend']).Total_Traded_Quantity.median()

Trend
Among top gainers       1787215.0
Among top losers        1729223.0
Bear drop              11139174.5
Bull run                5782802.5
Negative                1005798.0
Positive                1219984.0
Slight Positive         1046434.0
Slight negative          762140.0
Slight or No change      760205.0
Name: Total_Traded_Quantity, dtype: float64

In [57]:
df.to_csv('C://Users//karan//Downloads/week2.csv')